body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #116D6E;
}

.box{
    height: 200px;
    width: 200px;
    background-color: #321E1E;
    animation: box 3s infinite;
}

@keyframes box{
    0%{
        transform: scale(1) rotate(0);
        background-color: #643843;
    }

    50%{
        transform: rotate(180deg) scale(1.5);
        background-color: #99627A;
        
    }

    100%{
        transform: rotate(360deg) scale(1);
        background: #545B77;
        
    }
}

